<footer class="o-wrapper c-footer u-mt4 u-mb4">
  <small class="c-footer__copyright">
    &copy; {{ site.time | date: "%Y" }} {{ site.author | escape }}
  </small>
  <ul class="c-footer__list">
    {% if site.x_username %}
    <li class="c-footer__item">
      <a class="c-footer__link" href="https://x.com/{{ site.x_username }}">X</a>
    </li>
    {% endif %}
    {% if site.mastodon_username %}
    <li class="c-footer__item u-ml3">
      <a class="c-footer__link" rel="me" href="https://mastodon.social/@{{ site.mastodon_username }}">Mastodon</a>
    </li>
    {% endif %}
    {% if site.github_username %}
    <li class="c-footer__item u-ml3">
      <a class="c-footer__link" href="https://github.com/{{ site.github_username }}">GitHub</a>
    </li>
    {% endif %}
    {% if site.dribbble_username %}
    <li class="c-footer__item u-ml3">
      <a class="c-footer__link" href="https://dribbble.com/{{ site.dribbble_username }}">Dribbble</a>
    </li>
    {% endif %}
  </ul>
</footer>
