/* Article */

.c-article {
  width: 100%;

  @media (min-width: 62rem) {
    width: 43.75rem;
  }

  &__date {
    color: #d6d6d7;
    font-size: 0.875rem;
    letter-spacing: 0.05rem;

    @media (min-width: 34rem) {
      font-size: 1rem;
    }

  }

  &__title {
    font-size: 1.5rem;
    margin-top: 0.5rem;

    @media (min-width: 34rem) {
      font-size: 1.75rem;
    }

  }

}
