/* Header */

.c-header {
  align-items: center;
  display: flex;
  flex: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 2rem;
  width: 100%;

  @media (min-width: 544px) {
    align-items: baseline;
    padding-top: 4rem;
  }

  &__title {
    color: #505050;
    display: none;
    font-size: 1.25rem;
    text-decoration: none;

    @media (min-width: 544px) {
      display: inline-block;
      font-size: 1.5rem;
    }

  }

  &__logo {
    color: #505050;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;

    @media (min-width: 544px) {
      display: none;
    }

  }

  &__nav {
    font-size: 1rem;
    margin-left: auto;

    @media (min-width: 544px) {
      font-size: 1.25rem;
    }

  }

  &__link {
    color: #888;
    margin-left: 1.5rem;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);

    &:focus,
    &:hover {
      color: #505050;
    }

    &.is-active {
      color: #505050;
    }

    &:first-of-type {
      margin-left: 0;
    }

  }

}
