---
layout: default
---

<article class="c-article u-mt4" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="c-article__header">
    <p class="c-article__date">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
    </p>
    <h1 class="c-article__title" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
  </header>
  <div class="c-article__content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
